.DS_Store
node_modules/
.vscode/
.idea/

# next.js
/.next/
/out/
next-env.d.ts
*.tsbuildinfo

# env
.env*.local
.env

# generated recordings (canvas exports)
/recordings/
*.webm
*.mov
*.mp4

# but keep demo assets in public/
!/public/**/*.mp4
!/public/**/*.webm
!/public/**/*.png
!/public/**/*.jpg
!/public/**/*.jpeg
